<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="CSS/bootstrap.min.css" rel="stylesheet">
<link href="CSS/custom.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Corben:bold"
	rel="stylesheet" type="text/css">
<link href="http://fonts.googlepis.com/css?family=Nobile"
	rel="stylesheet" type="text/css">
</head>
<body ng-app="myApp" ng-controller="validateCtrl">
	<div class="container">
		<form name="myForm" action="LoginHandler" method="post">
			<div class="form-group row justify-content-center">
				<div class="col-md-6">
					<p>Username:</p>
					<input class="form-control" type="text" name="Username"
						ng-model="user" required style="width: 257px;"> <span
						style="color: red"
						ng-show="myForm.Username.$dirty&&myForm.Username.$invalid">
						<span ng-show="myForm.Username.$error.required">Please
							enter your username</span>
					</span><br>



					<p>Password:</p>
					<input class="form-control" type="password" name="Password"
						ng-model="pass" required style="width: 257px;"> <span
						style="color: red"
						ng-show="myForm.Password.$dirty&&myForm.Password.$invalid">
						<span ng-show="myForm.Password.$error.required">Please
							enter your password</span>
					</span><br>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-3">
					<button type="submit" class="btn btn-custom"
						ng-disabled="myForm.Username.$untouched||myForm.Username.$invalid&&myForm.Password.$untouched&&myForm.Password.$invalid">Log
						in</button>
				</div>
			</div>
		</form>

	</div>
</body>
<script src="js/fieldChecker.js"></script>
</html>

