h1, h2, h3, h4, h5, h6 {
    
    color:orange;
}
a:link,a:visited{
	color:orange;
}
p, div {

    color:orange;
}
body { 
    background: url(img/escheresque_ste.png) repeat 0 0;
}

.label-clr{
	color:orange;
}

.btn-custom {
  background-color: hsl(19, 100%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe854c", endColorstr="#f94f00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe854c), to(#f94f00));
  background-image: -moz-linear-gradient(top, #fe854c, #f94f00);
  background-image: -ms-linear-gradient(top, #fe854c, #f94f00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe854c), color-stop(100%, #f94f00));
  background-image: -webkit-linear-gradient(top, #fe854c, #f94f00);
  background-image: -o-linear-gradient(top, #fe854c, #f94f00);
  background-image: linear-gradient(#fe854c, #f94f00);
  border-color: #f94f00 #f94f00 hsl(19, 100%, 45%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
 
width: 200px;
margin-bottom:5px;
text-align: center;
}